<!DOCTYPE html>
<html>
<head>
<title>SozialraumApp</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top"  id="scrollMenu">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<a class="navbar-brand" href="index.jsp">Sozialraum</a>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="neuhier.html">Neu hier?</a></li>
					<li><a href="angebote.jsp">Angebote</a></li>
					<li><a href="feedback.jsp">Feedback</a></li>
					<li><a href="admin_layout.jsp">Admin</a></li>
					<li><a href="impressum.html">Impressum</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="row" style="padding-top:50px;">
		<div class="container text-center">
			<div class="col-xs-12">
				<h1>Feedback Ausgabe</h1>
				<br>
				<br>
				<form action="feedbackMailFunc.jsp" method="GET" class="form-group">
					<div class="col-xs-12">
						<div class="col-xs-12 col-sm-4">
							<label for="datumAuswahlMonat">Monat</label>
							<div class="form-group">
								<select class="form-control" name="datumAuswahlMonat">
								<%
									List<String> Datum = new LinkedList<String>();
									datum = con.data("");
									for(String datM : datum)
									{
								%>
									<option><%= datM %></option>
									<%} %>
								</select>
							</div>
							<br>
							<br>
						</div>
						<div class="col-xs-12 col-sm-4">
							<label for="datumAuswahlJahr">Jahr</label>
							<div class="form-group">
								<select class="form-control" name="datumAuswahlJahr">
								<%
									
									datum = con.data("");
									for(String datJ : datum)
									{
								%>
									<option><%= datJ %></option>
									<%} %>
								</select>
							</div>
							<br>
							<br>
						</div>
						<div class="col-xs-12 col-sm-4">
							<label style="color:#fff">Anzeige</label>
							<button class="btn btn-success col-xs-12">Anzeigen</button>
						</div>
						<div class="col-xs-12">
							<%
								String mail = "";
								String betreff= "";
								String nachricht= "";

								while (cond){
								//schleife um die Einträge aus der Datenbank zu holen 
								%>
								
							<div class="row well text-left">	
								<div class="col-xs-12">
									<div class="col-xs-12 col-sm-4">
										<h4>Betreff :</h4><br>
										<span><%= betreff%></span><br><br>
										<h4>Mailadresse :</h4><br>
										<span><%= mail%></span><br><br>
									</div>
									<div class="col-xs-12 col-sm-8">
										<h4>Nachricht:</h4><br>
										<span><%= nachricht%></span>
										
									</div>
								</div>
							</div>
							<% }%>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	

</body>
</html>