body{
	padding: 0px;
	margin: 0px;
}
.row {
	margin:0px;
}
p{
	padding: 25px;
	font-size: 2em;
}
img{
	border-radius: 500px;
	margin-left: auto;
	margin-right: auto;
}
button, 
input,
select{
	padding: 10px;
}

.spacer{min-height: 30px;}

a{
	text-decoration: none;
}


a:visited{
	color: darkblue;
}